@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: "Poppins", sans-serif;
}

body {
    background-color: black;
    color: white;
}

.left {
    width: 25vw;
    padding: 10px;
}

.right {
    width: 75vw;
    margin: 16px 0;
    position: relative;
}

.home ul li {
    display: flex;
    gap: 15px;
    width: 15px;
    list-style: none;
    padding-top: 14px;
    font-weight: 700;
}

.heading {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
    padding-top: 14px;
    padding: 23px 14px;
    font-weight: 700;
    font-size: 12px;
}

.heading img {
    width: 30px;
}

.library {
    min-height: 80vh;
    position: relative;
}

.footer {
    display: flex;
    gap: 13px;
    font-size: 10px;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
}

.footer a {
    text-decoration: none;
    color: grey;
    list-style: none;
}

.header .nav img {
    width: 34px;
    height: 16px;
    width: 30px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(35, 35, 35);
}

.header > * {
    padding: 20px;
}

.button>* {
    margin: 0 12px;
}

.btn-sign{
    background-color: #252525;
    color: #ada7a7;
    font-weight: 600;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn-sign:hover{
    font-size: 16px;
    color: white;
}


.btn-login{
    background-color: white;
    color: black;
    border-radius: 21px;
    padding: 10px;
    width: 79px;
    cursor: pointer;
}

.btn-login:hover{
    font-weight: 700;
    font-size: 17px;
}

.spotifyPlaylist {
    padding: 16px;
}

.cardContainer {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin: 30px;
    overflow-y: scroll;
    max-height: 70vh;
}

.spotifyPlaylist .card {
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    background-color: #252525;
    cursor: pointer;
    text-align: center;
}

.card>* {
    padding-top: 10px;
}

.card img {
    border-radius: 5px;
    width: 100%;
    object-fit: contain;
}

.card .play {
    position: absolute;
    top: 48%;
    left: 41%;
    z-index: 100;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    width: 60px;
}

.card:hover .play {
    opacity: 1;
}

.playbar{
    position: absolute;
    background-color: green;
    bottom: 0;
}